


.idea
node_modules
.gitignore
./public/files
.npm-debug.log


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


uploads/*.js
uploads/*
uploads/*.json
config/schemas/*.json
config/classifiers/*.json
config/thesaurii/*.rdf
bin/sinequa/*
logs/*.log
bin/jfm/*
bin/logs/*
logs/*.log
bin/discogs/*
bin/test.js
public/toutlesens/js/oldJs/*
!bin/sinequa/entities2Neo.js
public/toutlesens/icons/*


*.log
*.log
public/toutlesens/js/infosGenericDisplay2.js
*.log
*.log

