


.idea
node_modules
.gitignore
./public/files
.npm-debug.log


#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


uploads/*.js
uploads/*
uploads/*.json
schemas/*.json
bin/rdf/classifiers/*.json
bin/sinequa/*
bin/jfm/*
bin/logs/*
bin/discogs/*
bin/test.js
public/toutlesens/js/oldJs/*
!bin/sinequa/entities2Neo.js
public/toutlesens/icons/*


