body{
	   font-family: verdana, sans-serif;
	    background-color: #f3edef;
	     background-color: #eee;
	      background-color: #eee;
}
body { overflow:auto;
	font-size: 14px;
	font-family: sans-serif, verdana;
	vertical-align: top;
 height: 1000px;
}

#tabs-radarLeft{
	  font-size: 12px;
	  font-weight: bold;
	  width: 100%;
	height: 100%;
	  background-color: #eee;
}
}
#main{
	left: 5px;

	
}

#center{
	width: 100%;
	height: 100%;
		overflow: hidden;
	
}




#left{
	width: 300px;
	height: 100%;
	overflow: hidden;
	
}

#radarFiltersDiv  {
	width: 300px;
	height: 100%;
	
}



#attrsIframe {
	width: 450px;
	//height: 500px;
	
}


#stateDisplay{
	visibility: visible;
	 font-size: 10px;
	  font-weight: normal;
	  font-style: italic;
	  background-color:  #eee;
	  width:100%;
	  height: 10px;
}




#tabs {
	background-color: #ffc;
}

#topPanel {
	width: 100%;
	height: 100px;
	background-color: #eee;
	overflow: none;
	java-script background-color: #eed;
}

#bottomPanel {
	width: 100%;

	height: 100%;
	background-color: #fff;s
	overflow: none;
	border-color: #eee;
	border-style: solid;
	border: thin;
	visibility: hidden;
}
th.ui-state-default{
	height: 50px;
}
table.dataTable tbody td  {
    max-height: 30px;
}
.dataTables_wrapper {
  height: 50px;
  
}
}

