body {
    font-family: verdana, sans-serif;
    background-color: #f3edef;
    background-color: #eee;
    background-color: #eee;
    overflow: auto;
    font-size: 14px;
    vertical-align: top;
    height: 1000px;
}

td {
    padding: 2px;
}

textarea {
    font-size: 12px !important;
    font-family: verdana, sans-serif !important;
}

button {
    color: white;
    font-size: 16px;
    font-family: verdana, sans-serif;
    background-color: #e78f08;
    background-color: #ca842e;
    margin: 1px;
    padding: 4px;
}

select {
    font-size: 16px;
    font-family: verdana, sans-serif;
    margin: 2px;
    padding: 2px;
}

option {
    margin: 3px;
}

input {
    padding: 2px;
}

.help {
    font-style: italic;
    font-stretch: semi-condensed;
    color: olive;
}

.bigger {
    font-size: 14px;
}

.italicSpecial {
    font-style: italic;
    font-stretch: semi-condensed;
    background-color: #ddd;
}

.modifyPanelDiv {
    visibility: hidden;
}

#tabs-radarLeft {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    background-color: #eee;
}

#tabs-radarRight {
    overflow: hidden;
}

#textDivContainer {
    width: 100%;
    height: 500px;
    overflow: scroll;
    background-color: white;
}

#filtersDiv{
    visibility: visible;
    margin-top: 30px;
}

#textDiv {
    width: 2000px;
    height: 10000px;
    overflow: hidden;
    background-color: white;
}

#main {
    left: 5px;
}

#center {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#left {
    width: 300px;
    height: 100%;
    overflow: hidden;
}

#advancedSearchIframe, #advancedDisplayIframe, #dialogGanttIframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#dialogAdvancedSearch, #dialogAdvancedDisplay {
    z-index: 1000;
    overflow: hidden;

}

#ModifyNodeActionDiv, #linkActionDiv {
    width: 300px;
    height: 100%;
}

#radarFiltersDiv {
    width: 300px;
    height: 100%;
    overflow: hidden;
}

#table_Graph {
    font-size: 12px;

}

#table_Graph tbody > tr > td {
    white-space: nowrap;
}

#spreadsheetDiv {
    font-size: 12px;
}

.spreadsheet, .spreadsheet td {
    border-style: solid;
    font-size: 12px;
    border-color: purple;
    border-width: 1px;
}

.spreadsheetDivContainer {
    width: 400px;
    height: 300px;
    overflow: hidden;
}

.scroll-container {
    width: 584px;
    height: 320px;
    margin: 1rem 0 1rem;
    overflow: auto;
}

#wordsSelect {
    max-width: 300px;
}

#attrsTab {
    padding: 2px
}

#leftPanel {
    overflow: hidden;
}

#radarTitle {
    font-size: 14px;
    font-weight: bold;
    color: #b18527;
}

#graphDiv {

    visibility: visible;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 5px;
    top: 40px;
    position: absolute;
    background-color: #eee;
}

#graphLegendDiv {
    top: 50px;
    left: 5px;
    width: 200px;
    padding: 3px;
    position: absolute;
}

.message {
    visibility: visible;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
   color: #592003;
    width: 100%;
    height: 20px;
}

#tabs {
    background-color: #ffc;
}

#topPanel00 {
    width: 100%;
    height: 100px;
    background-color: #eee;
    overflow: hidden;
    background-color: #eed;
}

#bottomPanel {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    border-color: #eee;
    border-style: solid;
    border: thin;
    visibility: hidden;
}

#popupTextarea {
    left: 30vw;
    width: 69vw;
    visibility: hidden;
    margin: 5px;
}

#tabs-query {
    background-color: white;
}

.popupmenuDiv {
    position: absolute;
    visibility: hidden;
    margin: 5px;
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 5px;
    border-style: solid;
    border-color: #999;
    border-width: 2px;
    color: #555;
}
#popupMenuNodeInfo{
    color: #555;
    font-size:12px;
    max-height: 300px;
    max-width: 350px;
    overflow: auto;
}

.popupMenuTable td {
    color: #1c94c4;
    font-weight: normal;
    font-size: 16px;
    padding: 2px;

}

#bottomLeftPanel {
    width: 250px;
    background-color: #fff;
    margin: 10px;
    padding: 5px;
/ / height: 400 px;
    overflow: auto;
}

#infoPanel, #externalInfoPanel, #displayDiv {
    background-color: #eee;
    margin: 10px;
    padding: 10px;
/ / width: 300 px;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    overflow: auto;
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    margin: 5px;
}

#infoPanel {
    max-height: 300px;
    overflow: auto;
}

#externalInfoPanel {
    max-height: 300px;
    overflow: auto;
}

#imagePanel {
    background-color: #eee;
    padding: 10px;
    height: 250px;
    overflow: auto;
    border-style: hidden;
    border-color: blue;
    border-width: 1px;
    margin: 5px;
    text-align: center;
}

.title {
    font-size: 18px;
}

.hidden {
    visibility: hidden;
}

#outputModeHome {
    visibility: visible;
}

#wordsSelect, #nodesLabelsSelect, #word {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    font-weight: bold;
    font-size: 14px;
    width: 80%;
}

#wordsSelect {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}

.breadcrumb {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    background-color: #eed;
    visibility: hidden;
    font-weight: bold;
/ / width: 900 px;
}

a:link, a:visited #infoPanel {
    font-style: italic;
    color: blue;
    font-size: 12px;
}

a:link, a:visited .breadcrumb-item {
    font-size: 12px;
}

a:link, a:visited .chronoSheet {
    font-style: italic;
    font-size: 12px;
}

#chronoParams {
    background-color: #eed;
    visibility: hidden;
    height: 0px;
}

.chronoSheet {
    border: medium;
    border-color: #662211;
    border-bottom-style: solid;
    width: 520px;
}

#rangeSlider {
    font-style: italic;
    font-size: 12px;
}

#currentNodeSpan {
    color: purple;
}

.emptyAccodionDiv{
    min-width: 300px;
}
/*********************** force Collapse******************/
circle.node {
    cursor: pointer;
    stroke: #000;
    stroke-width: 1px;
}

line.link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1px;
}

.nodeText {
    font-family: verdana, sans-serif;
    font-size: 8px;
    color: blue;
}

.nodeText {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
}

/*.link, .traversalPath{
	fill: none;
	stroke: #801640;
	stroke: gray;
	stroke-width: 1px;
}*/

.inputFieldNode {
    width: 400px;
}


.d3NodeImage{
border-style: groove;

    border-color: #b03333;
    border-width: 2px;

}
table.dataTable thead th div.DataTables_sort_wrapper {
    height: 1em !important;
    line-height: 1em !important;
    white-space: nowrap !important;
}

.accordionLeft .ui-accordion-content {
    width: 95%;
    max-height: 400px;
    min-height: 100px;
    height: 300px;
    /*background-color: #f3f3f3;*/
    color: #777;
    color: black;
    font-size: 12px;
    overflow: auto;
    line-height: normal;
    padding: 2px;
}

.accordionLeft .ui-accordion-header {
    font-size: 10pt;
    line-height: normal;
    font-weight: normal;
}

.accordionModify .ui-accordion-content {
    width: 70%;
    max-height: 800px;
    min-height: 300px;
    height: 400px;
    /*background-color: #f3f3f3;*/
    color: #777;
    color: black;
    font-size: 12px;
    overflow: auto;
    line-height: normal;
    padding: 2px;
}

.ui-accordion .ui-accordion-content {
    padding: 2px !important;
}

#graphFiltersPanelXX {
    height: 200px;
}

.visButtonTable {
    background-color: #e78f08;
    background-color: #ca842e;

    margin: 1px;
    padding: 1px;
    width: 150px;
}
.vertVisButtonTable {
    background-color: #e78f08;
    background-color: #ca842e;

    margin: 1px;
    padding: 1px;

}


#nodeDetailsDiv {
    width: 90%;

    margin: 5px;
}

.legendText{
    color: white;
    font-weight: bold;
    font-size: 14px;

}
.relName{
    font-weight: normal;
    font-size: 12px;
    stroke: none;
    stroke-width: none;
}

.objectName{
    color: #662211;
    font-weight: bold;
    font-size: 14px;
}





